:root {
  --color-yellow: #ffcc4a;
  --color-green: #4eaf4e;
  --color-dark: rgba(27, 27, 27, 0.91);
  --color-gray: #ebebeb;
  --color-white: #fff;
  --color-black: #151515;
}
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.heading {
  font-family: "Cabin", sans-serif;
  font-weight: 600;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  border: 1px solid red;
}
.header {
  background-color: var(--color-dark);
  padding: 40px;
}
.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 20px;
}
.header__logo {
  font-size: 30px;
  color: var(--color-white);
}
.header__logo-img {
  height: 30px;
}
.logo {
  display: flex;
  column-gap: 11px;
  align-items: center;
}
.nav__menu {
  display: flex;
  gap: 10px 30px;
  flex-wrap: wrap;
  justify-content: center;
}
.nav__link {
  color: var(--color-white);
  font-size: 17.728px;
}
.action-button {
  background-color: var(--color-white);
  border-radius: 42px;
  padding: 8px 41px 8px 10px;
  display: inline-flex;
  align-items: center;
  column-gap: 11px;
  font-weight: 600;
  color: #353535;
}
.hero {
  background-color: var(--color-gray);
}
.hero__info {
  max-width: 508px;
  display: inline-block;
  padding-top: 100px;
}
.label {
  text-transform: uppercase;
  letter-spacing: 2.32px;
  line-height: 147.5%;
  border-radius: 20px;
  padding: 0px 15px;
}
.label_yellow {
  background-color: var(--color-yellow);
}
.hero__label {
  display: inline-block;
  margin-bottom: 19px;
}
.hero__heading {
  font-size: 50px;
}
.hero__text {
  margin-top: 20px;
  margin-bottom: 29px;
}
.hero__row {
  display: flex;
  /* gap: 31px; */
  /* align-items: center; */
  flex-wrap: wrap;
  /* justify-content: flex-end; */
}
.hero__image {
  width: 55%;
  position: relative;
  right: -170px;
}
.hero__booking {
  margin-bottom: 271px;
}
.advantages {
  position: relative;
  top: -100px;
  left: 0;
}
.advantages__row {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.advantages-card {
  display: inline-block;
  border-radius: 20px;
  padding: 48px;
  padding-top: 237px;
  max-width: 388px;
  box-sizing: border-box;
}
.advantages__heading {
  font-size: 25px;
  display: inline-block;
  margin-bottom: 10px;
}
.advantages__text {
  display: inline-block;
}
.advantages__link {
  display: inline-block;
  padding: 16px 31px;
  border-radius: 55px;
  margin-top: 15px;
  font-weight: 600;
}
.advantages__card-services {
  background-image: url(img/Photo123.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.advantages__card-approach {
  background-image: url(img/Photo4.png);
  background-size: cover;
}
.advantages__card-solution {
  background-color: var(--color-dark);
  color: var(--color-white);
  padding-top: 0;
  overflow: hidden;
}
.advantages__link_white {
  background-color: var(--color-white);
}
.advantages__link_black {
  background-color: var(--color-black);
  color: var(--color-white);
}
.advantages__card-image {
  display: inline-block;
  max-width: 405px;
  transform: translateY(-15%);
}
.advantages__heading_position {
  position: relative;
  top: -21px;
}
.statistics {
  background: #ffcc4a url(img/Photo_st.png) center/cover no-repeat;
  padding-top: 133px;
  padding-bottom: 133px;
  /* background-color: #ffcc4a; */
}
.statistics__row {
  display: flex;
  gap: 89px;
}
.label_white {
  background-color: var(--color-white);
}
.statistics__info {
  max-width: 375px;
}
.statistics__heading {
  font-family: "Cabin";
  font-size: 45px;
  margin-top: 22px;
  margin-bottom: 20px;
  font-weight: 700;
}
.statistics__text {
  font-size: 18px;
}
.statistics__items {
  display: flex;
  gap: 80px;
}
.statistics__range-wrapper {
  width: 186px;
  height: 186px;
  border-radius: 50%;
  position: relative;
}
.statistics__range-wrapper::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 180px;
  height: 180px;
  background-color: var(--color-yellow);
  border-radius: 50%;
}
.statistics__range-wrapper::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 30px;
  height: 30px;
  background-color: #000;
  border-radius: 50%;
  border: 6px solid #fff;
  box-sizing: border-box;
  z-index: 1;
}
.statistics__range-consistency {
  background-image: conic-gradient(#fff 85%, rgb(218, 174, 60) 0%);
}
.statistics__range-consistency::before {
  top: 30px;
}
.statistics__range-improvement::before {
  top: -8px;
  left: 50px;
}
.statistics__range-branching::before {
  top: 10px;
  left: 17px;
}
.statistics__range-improvement {
  background-image: conic-gradient(#fff 95%, rgb(218, 174, 60) 0%);
}
.statistics__range-branching {
  background-image: conic-gradient(#fff 90%, rgb(218, 174, 60) 0%);
}
.statistics__procent {
  font-weight: bold;
  font-size: 50px;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.statistics__label {
  text-align: center;
  display: block;
  margin-top: 20px;
  font-style: 25px;
  font-weight: bold;
}
.myproject {
  background: url(img/bg4.png) center/cover no-repeat;
  color: white;
  padding-top: 151px;
  padding-bottom: 151px;
}
.myproject__work {
  display: inline-block;
  width: 1200px;
}
.label_green {
  background-color: #4eaf4e;
  color: var(--color-white);
}
.myproject__text {
  font-size: 45px;
  font-family: "Cabin";
  display: inline-block;
  max-width: 324px;
  margin-top: 8px;
}
.myproject__link {
  display: inline-block;
  font-weight: bold;
  background-color: #ffcc4a;
  text-decoration: none;
  list-style: none;
  padding: 16px 38px;
  color: #000;
  border-radius: 42px;
  margin-left: 733px;
}
.myproject__image {
  position: relative;
}
.myproject__image-bosts {
  border-radius: 25px;
}
.myproject__image-nav {
  margin-bottom: 50px;
  width: 366px;
  background: url(img/Photo1_1.png) center/cover no-repeat;
  border-radius: 25px;
  padding: 35px 37px;
}
.myproject__image-promo {
  width: 293px;
  padding: 19px 27px;
  background-color: rgba(18, 18, 18, 0.75);
  border-radius: 15px;
}
.myproject__image-text {
  font-family: "Cabin";
  font-size: 25px;
  font-weight: 600;
  display: block;
}
.myproject_yellow {
  color: #ffcc4a;
  font-family: "Lato";
  font-size: 16px;
  font-weight: 400;
}
.myproject__image-img {
  transform: translateX(180px);
}
.myproject_position {
  margin-top: 117px;
  margin-bottom: 4px;
}
.myproject_width-784 {
  max-width: 784px;
  position: absolute;
  top: 0;
  left: 34.5%;
}
.myproject_posabsolut-one {
  position: absolute;
  top: 35%;
  left: 35%;
}
.myproject_posabsolut-two {
  position: absolute;
  top: 35%;
  left: 69.3%;
}
.myproject_posabsolut-three {
  position: absolute;
  top: 69.5%;
  left: 35%;
}
.myproject_posabsolut-four {
  position: absolute;
  top: 69.5%;
  left: 69.3%;
}
.process {
  padding-top: 150px;
  padding-bottom: 150px;
  display: flex;
}
.process__left-position {
  max-width: 508px;
  display: inline-block;
}
.process__heading {
  font-family: "Cabin";
  font-size: 45px;
  font-weight: 700;
  margin-top: 16px;
  margin-bottom: 16px;
}
.process__text {
  color: #595566;
}
.process__ul {
  border-top: 1px solid #c1c1c1;
  max-width: 460px;
  margin-top: 55px;
  padding-top: 28px;
  position: relative;
}
.process__ul-heading {
  font-size: 20px;
  font-weight: 600;
  font-family: "Cabin";
  margin-bottom: 10px;
  display: inline-block;
  position: absolute;
  top: 25px;
  left: 71px;
}
.process__ul-text {
  color: #595566;
  max-width: 331px;
  position: absolute;
  left: 71px;
  top: 50px;
}
.label_br {
  max-width: 55px;
  max-height: 55px;
  box-sizing: border-box;
  padding: 10px 0px;
  border-radius: 50px;
  font-size: 26px;
  font-family: "Cabin";
  font-weight: 600;
  display: block;
  text-align: center;
}
.label_black {
  background-color: #181818;
  color: #fff;
}
.process__right-position {
  display: inline-block;
  max-width: 574px;
  vertical-align: top;
}
.process_mw {
  max-width: 542px;
}
.process_mb {
  margin-bottom: 20px;
}
.process__cont {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 40px;
}
.process__cont-info {
  max-width: 279px;
  padding: 33px 23px;
  border-radius: 20px;
  background-color: #eaeaea;
  text-align: left;
}
.process__cont-image {
  margin-bottom: 30px;
  display: block;
}
.process__cont-heading {
  font-family: "Cabin";
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  display: inline-block;
}
