:root {
  --color-yellow: #ffcc4a;
  --color-green: #4eaf4e;
  --color-dark: rgba(27, 27, 27, 0.91);
  --color-gray: #ebebeb;
  --color-white: #fff;
  --color-black: #151515;
}
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.heading {
  font-family: "Cabin", sans-serif;
  font-weight: 600;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  border: 1px solid red;
}
.header {
  background-color: var(--color-dark);
  padding: 40px;
}
.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 20px;
}
.header__logo {
  font-size: 30px;
  color: var(--color-white);
}
.header__logo-img {
  height: 30px;
}
.logo {
  display: flex;
  column-gap: 11px;
  align-items: center;
}
.nav__menu {
  display: flex;
  gap: 10px 30px;
  flex-wrap: wrap;
  justify-content: center;
}
.nav__link {
  color: var(--color-white);
  font-size: 17.728px;
}
.action-button {
  background-color: var(--color-white);
  border-radius: 42px;
  padding: 8px 41px 8px 10px;
  display: inline-flex;
  align-items: center;
  column-gap: 11px;
  font-weight: 600;
  color: #353535;
}
.hero {
  background-color: var(--color-gray);
}
.hero__info {
  max-width: 508px;
  display: inline-block;
  padding-top: 100px;
}
.label {
  text-transform: uppercase;
  letter-spacing: 2.32px;
  line-height: 147.5%;
  border-radius: 20px;
  padding: 0px 11px;
}
.label_yellow {
  background-color: var(--color-yellow);
}
.hero__label {
  display: inline-block;
  margin-bottom: 19px;
}
.hero__heading {
  font-size: 50px;
}
.hero__text {
  margin-top: 20px;
  margin-bottom: 29px;
}
.hero__row {
  display: flex;
  gap: 31px;
  /* align-items: center; */
  flex-wrap: wrap;
  /* justify-content: flex-end; */
}
.hero__image {
  width: 55%;
  height: max-content;
}
.hero__booking {
  margin-bottom: 271px;
}
.advantages {
  position: relative;
  top: -100px;
  left: 0;
}
.advantages__row {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.advantages-card {
  display: inline-block;
  border-radius: 20px;
  padding: 48px;
  padding-top: 237px;
  max-width: 388px;
}
.advantages__heading {
  font-size: 25px;
  display: inline-block;
  margin-bottom: 10px;
}
.advantages__text {
  display: inline-block;
}
.advantages__link {
  display: inline-block;
  padding: 16px 31px;
  border-radius: 55px;
  margin-top: 15px;
  font-weight: 600;
}
.advantages__card-services {
  background-image: url(img/Photo123.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.advantages__card-approach {
  background-image: url(img/Photo4.png);
  background-size: cover;
}
.advantages__card-solution {
  background-color: var(--color-dark);
  color: var(--color-white);
  padding-top: 0;
  overflow: hidden;
}
.advantages__link_white {
  background-color: var(--color-white);
}
.advantages__link_black {
  background-color: var(--color-black);
  color: var(--color-white);
}
.advantages__card-image {
  display: inline-block;
  max-width: 405px;
  transform: translateY(-15%);
}
.advantages__heading_position {
  position: relative;
  top: -21px;
}
